body {
    background-color: green;
}

li {
    margin-left: 60px;
    width: 70px;
    display: block;
}

ul {
    margin-top:30px;
    display: flex;
    flex-direction: row;
}

h3{
    color: white;
}

img {
    height: 130px;
}

.table{
    display: flex;
    flex-direction: row;
}

.board {
    width: 62%;
    height: 360px;
    background: green;
    border: solid 5px brown;
    border-radius: 251px;
    padding: 40px;
    margin: 0 auto;
}

.myCard {
    display: flex;
    flex-direction: row;
}

.dealerCard {
    display: flex;
    flex-direction: row;
    height: 130px;
}

.dealerCard ul{
    display: flex;
    flex-direction: row;
}

.giveMe{
    z-index: 1;
    width: 50%;
    margin: 0 auto;
}

.allCards{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 60px;
    width: 180px;
}

.finalMessage{
    height: 22px;
    width: 120px;
}